<div class="container">
<%@users.each do |user|%>
<a  href='users/<%=user.id%>'>
<div class='user-body'>
<img src='<%=user.Photo%>' alt= '<%=user.Name%>'>
<div class='user-content'>
<h2><%=user.Name%></h2>
<p>Number of posts: <%=user.PostsCounter%></p>
</div>
</div>
</a>
<%end%>
</div>