<div class='user-container'>
<div class='user-image-name flex'>
<img src='<%=@user_id.Photo%>' alt='<%=@user_id.Name%>'>
<div class='user-content flex'>
<h2><%=@user_id.Name%></h2>
<p>Number of posts: <%=@user_id.PostsCounter%></p>
</div>
</div>
<div class='bio-div flex direction'>
<p>Bio</p>
<p><%=@user_id.Bio%></p>
</div>
<div class='posts flex direction'>
<%@user_id.most_3_recent_posts.each do |post|%>
<div class='post'>
<h3>Post: <%=post.id%></h3>
<p><%=post.Text%></p>
<div class='comments-likes flex'>
<p>Comments: <%=post.CommentsCounter%></p>
<p>Likes: <%=post.LikesCounter%></p>
</div>
</div>
<%end%>
</div>
<button><%=link_to 'see all posts', user_posts_path(@user_id) ,class:'btn'%></button>
</div>





















