<div class='user-container'>
<div class='user-image-name flex'>
<img src='<%=@user_post.Photo%>' alt='<%=@user_post.Name%>'>
<div class='user-content flex'>
<h2><%=@user_post.Name%></h2>
<p>Number of posts: <%=@user_post.PostsCounter%></p>
</div>
</div>
<div class='my-posts flex direction'>

<%@posts.each do |post|%>
<a href="posts/<%=post.id%>">
<div class='my-post'>
<h3>Post: <%=post.id%></h3>
<p><%=post.Title%></p>
<p><%=post.Text%></p>
<div class='comments-likes flex'>
<p>Comments: <%=post.CommentsCounter%></p>
<p>Likes: <%=post.LikesCounter%></p>
</div>
<%post.five_most_recent_comments.each do |comments|%>
<div class='comments flex'>
<p><%=comments.author.Name%>:</p>
<p><%=comments.Text%></p>
</div>
<%end%>
</div></a>
<%end%>
</div>
<button><%= link_to "Create a Post", new_user_post_path(current_user, @post),class:'add-comment' %></button>
</div>
