<div class="user-container">
  <div class="post-title flex">
    <h2>Post:<%= @post.id %> by <%= @post.author.Name %> </h2>
    <p>Comments: <%= @post.CommentsCounter %> Likes: <%= @post.LikesCounter %></p>
  </div>
  <h4><%= @post.Text %></h4>
  <div>
  <%@post.comments.each do |comment|%>
  <p><%=comment.author.Name%>:<%=comment.Text%>  </p>
  <%end%>
  </div>
  
   <button><%= link_to "Add a comment", new_user_post_comment_path(current_user, @post),class:'add-comment' %></button>
   <%= button_to 'Like', user_post_likes_path(current_user, @post), method: :post%>
</div>